<article>
  <header class="row d-flex">
    <div class="d-flex header-btns">
      <img class="logo" src="assets/movie-logo.svg">
      <div>Фильмы</div>
      <div>Сериалы</div>
      <div>Люди</div>
      <div>Ещё</div>
    </div>
    <div class="d-flex header-btns">
      <img class="plus" src="assets/pngimg- plus.png">
      <div class="language">ru</div>
      <div class="header-btn">Войти</div>
      <div class="join">Присоединиться к TMDB</div>
      <input>
    </div>
  </header>
</article>

