<article>
  <footer class="container">
    <div class="content">
      <div class="footer-items">
        <img class="footer-logo" src="assets/footer-lofo.svg" alt="">
        <div class="f-btn">Вступить в сообщество</div>
      </div>
      <div class="footer-items">
        <div class="f-title">ГЛАВНОЕ</div>
        <div>О TMDB</div>
        <div>Связаться с нами</div>
        <div>Форумы поддержки</div>
        <div>API</div>
        <div>Статус системы</div>

      </div>
      <div class="footer-items">
        <div class="f-title">УЧАСТВУЙТЕ</div>
        <div>Писание об участии</div>
        <div>Добавить новый фильм</div>
        <div>Добавить новый сериал</div>

      </div>
      <div class="footer-items">
        <div class="f-title">СООБЩЕСТВО</div>
        <div>Руководства</div>
        <div>Обсуждения</div>
        <div>Доска почёта</div>
        <div>Twitter</div>

      </div>
      <div class="footer-items">
        <div class="f-title">О ПРАВЕ</div>
        <div>Условия использования</div>
        <div>API Правила использования</div>
        <div>Политика конфиденциальности</div>

      </div>
    </div>
  </footer>
</article>
