

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(3,37,65);
    padding: 0 300px;
    height: 322px;


    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: white;


      .footer-items {
        &:not(:last-child) {
          margin-right: 20px;
        }

        .footer-logo {
          width: 134px;
          height: 94px;
          top: -30px;
          left: 132px;
          position: relative;
        }

        .f-btn {
          width: 264px;
          height: 44px;
          border: none;
          border-radius: 4px;
          color: #01B4E4;
          position: relative;
          bottom: 0px;;
          background-color: #fff;
          font-size: 1.3em;
          font-weight: bold;
        }

        .f-title {
          font-weight: bold;
          font-size: 1.4em;
          line-height: 1.4em;
          text-transform: uppercase;
          color: #fff;
          white-space: nowrap;
          margin: 0 0 4px 0;
        }

        div {
          font-size: 1.2em;
          color: #fff;
          text-decoration: none;
          font-weight: normal;
          box-sizing: border-box;
        }
      }
    }
  }

